* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium';
}
/* Header */
header {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    z-index: 99;
    padding: 0;
    justify-content: space-between;
    align-items: baseline;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    background-color: rgba(160, 32, 160, 0.815);
}
main {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* Navigation Bar */
nav {
    width: 50%;
    float: right;
    position: absolute;

    padding: 0 1rem;
    box-shadow: 0 2px 2px;
    display: none;
    top: 100%;
}
/* Nav toggle */
#nav-toggle:checked~nav  {
    display: block;
}
#nav-toggle {
    display: none;
    color: rgb(196, 13, 156)

}
.nav-toggle-label {
    font-size: 2rem;
    float: right;
}

.icon {
    width: 200px;
    float: left;
    left: 0;
    font-size: 24px;
    height: 80px;
    color: rgb(196, 13, 156);
}
.logo {
    color: rgb(196, 13, 156);
    font-size: 26px;
    font-family: 'Georgia';
    font-weight: bold;
    padding: 10px;
    list-style-type: none;
    margin-top: auto;
    justify-content: space-between;
    align-items: baseline;
    display: inline-block;
    font-family: 'fantasy';
    font-weight: bold;
    
}
/* Menu */
#menu {
    font-size: 50%;
    list-style-type: none;
    float: right;
}
#menu > ul, li, a {
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    color: white;
    display: block;
    justify-content: center;  
}
#menu a:hover {
    color: rgb(196, 13, 156);
}
.active {
    border-bottom: 1px solid #3a3a3a;
}


/* Hero section */ 
.hero {
    position: relative;
    background: white;
    width: 100%;
    height: 100vh;
    z-index: 1;
    margin-right: auto;
}
.hero-container {
    width: 100%;
    display: flex;
    position: relative;
    margin-right: auto;
}
.hero-image {
    position: relative;
    top: 20px;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    align-items: center;
    object-fit: cover;
    margin: 0;
}
/* Header text content*/
.content {
    position: absolute;
    width: 50%;
    height: auto;
    margin: 30px;
    color: black;
    text-align: center;
    right: 0;
}
.content h1 {
    font-family: 'Franklin Gothic Medium';
    font-size: 50px;
    margin-top: 30%;
}
.content p {
    font-family:'Franklin Gothic Medium';
    font-size: 25px;
    padding-bottom: 25px;
}
/* Head */
#head {
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: black;
    color: rgb(225, 0, 255);
    margin: 0;
    padding: 0;

}
#head h2, p {
    font-family:'Georgia';
    text-align: center;
    font-size: 20px;
    padding: 0;
}
#head h2 {
    font-size: 25px;
}
section {
    width: 100%;
}
/* Frist grid section */
.benefits {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    gap: 20px;
    width: 100%;
    text-align: center;
    padding: 1rem 1rem;
    background-color: rgba(0, 0, 0, 0.76);
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
}
.benefits h2, p {
    margin: 5px;
    padding: 5px 5px;
    font-size: 24px;
    text-align: center;
}

.benefits ul, li {
    list-style: none;
    list-style-position: inside;
    display: list-item;
    text-align: center;
    top: 0;
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    margin: 1rem;
    padding: 1rem 5rem;

}

/* Second grid section */
.ideas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    gap: 20px;
    width: 100%;
    text-align: center;
    padding: 1rem 1rem;
    background-color: rgba(0, 0, 0, 0.76);
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
}
.ideas h2, p {
    padding: 1rem;
    font-size: 24px;
    text-align: center;
}

.ideas ul, li {
    list-style: none;
    list-style-position: inside;
    display: list-item;
    text-align: center;
    top: 0;
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    width: 100%;
    padding: 2rem 2rem;
    margin-bottom: 1rem;
}
.item-left {
    float: left;
    width: 100%;
    color: white;
    padding: 5px;
    margin: auto;
    resize: vertical;
}
.item-right {
    float: right;
    width: 100%;
    color: white;
    padding: 5px;
    margin: auto;
    resize: vertical;
}


span {
    font-size: 22px;
    font-family:'Franklin Gothic Medium';
    font-weight: bold;
}
/* Sign up form */
#signup {
    height: 100vh;
    background-image: url(./images/tea.jpg.jpg);
    background-size: cover;
    background-position: 100%;
    padding: 10% 10%;
    flex-grow: 1;

}

#signup-form {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.76);
    padding: 5% 5%;
}

#signup-form > h2 {
    color: rgb(196, 13, 156);
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium';
}
#signup-form > label {
        font-size: 22px;
        color: rgb(255, 255, 255);
        font-family:'Franklin Gothic Medium' ;
        font-weight: bold;

}

.text-input {
    background-color: rgba(0, 0, 0, 0.76);
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 0 5px;
    font-family: 'Franklin Gothic Medium';
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 30px;
    font-size: 100%;
    background-color: rgba(160, 32, 160, 0.815);
    color: #fafafa;
}

/* Contact form */
   input[type=text], select, textarea {
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.76);
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
   }
   input[type=submit] {
    background-color: rgba(0, 0, 0, 0.877);
    color: rgb(225, 0, 255);
    padding: 16px 30px;
    font-size: 18px;
    font-family:'Franklin Gothic Medium' ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   }
   input[type=submit]:hover {
    background-color: whitesmoke;
   }
   .container {
    width: 100%;
    height: 100vh;
    background-image: url(./images/motivation.jpg);
    background-size: cover;
    background-position: 100%;
    padding: 5% 20%;
    margin-bottom: auto;
    flex-grow: 1;   
   }
   label {
    font-size: 22px;
    color: white;
    font-family:'Franklin Gothic Medium' ;
    font-weight: bold;
   }

   /* About Section */
 
.about {
    text-align: center;
    background-image: url(./images/mountain.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 100%;
    padding: 5% 10%;
    margin-bottom: auto;
    flex-grow: 1;
}
 
.about h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: white;
}
 
.about p {
    font-size: 1rem;
    color: #ffffff;
    max-width: 800px;
    margin: 0 auto;
}
 
.about-info {
    margin: 5% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}
.about-info p {
    font-size: 1.3rem;
    margin: 0 2rem;
    text-align: justify;
}
.more h1 {
    justify-content: center;
    text-align: center;
}
.more {
    width: 35%;
    color: white;
    background-color: rgba(0, 0, 0, 0.76);
    padding: 12px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
.more li i {
    justify-content: space-between;
}
/* Footer */
#social-networks {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 10px;
    display: flex;
    z-index: 99;
    justify-content: space-evenly;
    list-style-type: none;
    margin-top: auto;
}
#social-networks i {
    font-size: 25px;
    padding: 0;
    color: white;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    .hero-image {
        max-width: 100%;
    }
    .benefits {
        grid-template-columns: 1fr;
        width: auto;
    }
    .item-left {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 0 0.5rem;
    }
    .item-right {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin: 0 0.5rem;
    }

}
/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        background-color: #000000;
    }
 
    #menu {
        background-color: #000000;
        color: white;
        display: flex;
    }
    #menu > li {
        padding-left: 1rem;
    }

    }
@media screen and (max-width: 900px) {
    .content h1 {
        font-size: 3rem;
    }

}
@media screen and (min-width: 1200px) { 
    body {
        max-width: 100%;
    }  


}
 