* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: url(women.jpg.jpg) 50% 50%;
    background-position: center;
    background-size: cover;
}

.navbar {
    
    width: 100%;
    height: 10px;
    margin: auto;
}
.icon {
    width: 200px;
    float: left;
    height: 70px;

}
.logo {
    color: blueviolet;
    font-size: 25px;
    font-family: Arial;
    font-weight: bold;
    padding-left: 20px;
    float: left;
    padding-top: 50px;
}
.menu {
    width: 100%;
    float: right;
    height: 20px;
}
ul {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li {
    list-style: none;
    margin-right: 20px;
    margin-top: 5px;
    font-size: 16px;
}
ul li a {
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    color: black;
}
ul li a:hover {
    color:blueviolet;
}
.content {
    width: 50%;
    height: auto;
    margin: auto;
    position: relative;
    color: black;
}
.content h1 {
    font-family: 'Franklin Gothic Medium';
    font-size: 50px;
    margin-top: 40%;
}
.content p {
    font-family:'Franklin Gothic Medium';
    font-size: 25px;
    padding-left: 100px;
    padding-bottom: 25px;
}